@charset "UTF-8";

@media screen and (min-width:768px) {
    
    #suma {
        display: none;
    }

    #hamburguer {
        display: block;
    }
    
    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 750px;
    }
}