@charset "UTF-8";

@media screen and (min-width: 700px) {

    header {
        background-color: rgb(151, 150, 150);
        color: white;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.582);
        padding: 10px;

        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }

    header > h1 {
        text-align: left;
        margin-bottom: 10px;
        flex-basis: 300px;
    }

    header > aside {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 5px;
        justify-content: flex-end;
    }

    header > aside > a {
        display: inline;
        background-color: black;
        padding: 8px;
        border-radius: 5px;
        color: rgb(228, 228, 228);
        text-decoration: none;
    }

    header > aside > a:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }

    main {
        background-color: rgb(250, 249, 249);
        border-radius: 10px;
        margin: 8px;
        padding: 10px;
    }
}